# OS
.DS_Store

# Customizations
custom.el

# Packages
!elpa/
elpa/*
!elpa/recipes/
el-get/
straight/
anaconda-mode/
.python-environments/
php-language-server/

# Emacs specific
var/
backups/
eln-cache/
