[project]
	description = Emacs awesomeness
[access "refs/*"]
	owner = group user/L42y (L42y)
[access "refs/for/refs/*"]
	read = group user/L42y (L42y)
	push = group user/L42y (L42y)
	label-Code-Review = -2..+2 group user/L42y (L42y)
	label-Verified = -1..+1 group user/L42y (L42y)
	rebase = group user/L42y (L42y)
	removeReviewer = group user/L42y (L42y)
	submit = group user/L42y (L42y)
[access "refs/heads/*"]
	read = group user/L42y (L42y)
	create = group user/L42y (L42y)
	push = +force group user/L42y (L42y)
	pushMerge = group user/L42y (L42y)
[access "refs/tags/*"]
	push = +force group user/L42y (L42y)
	pushTag = group user/L42y (L42y)
	pushSignedTag = group user/L42y (L42y)
